$backgroundPrincipal: black;
$backgroundSecundario: white;
$colorFuentePrincipal: white;
$colorFuenteSecundaria: #121212;
$largeImg-desktop: 500px;
$mediumImg-desktop: 250px;
$largeImg-tablet: 800px;
$mediumImg-tablet: 400px;
