.paginas {
    background-color: $backgroundPrincipal;
    margin: 0.5em;
}
.tituloPaginas {
    @extend .texto;
    margin: 0.5em 0;
}
#about {
    @include background (no-repeat, 100%, hidden);
    color: $colorFuentePrincipal;
}
.parrafo {
    background-color: $backgroundSecundario;
    color: $colorFuenteSecundaria;
    @include flex (none, space-evenly, center);
    text-align: left;
}
#aboutCloser {
    text-align: center;
}