.paginas {
    background-color: $backgroundPrincipal;
}
.tituloPaginas {
    @extend .texto;
}
#about {
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    overflow: hidden;
}
.parrafo {
    background-color: $backgroundSecundario;
    color: #121212;
    @include flex (none, space-evenly, center);
    text-align: left;
}
#aboutCloser {
    text-align: center;
}