#paginaContacto {
    @include background (no-repeat, cover, none);
}
#formulario {
    @extend .texto;
    line-height: 2em;
    margin-bottom: 3em;
}
#email {
    color: $colorFuentePrincipal;
    @include flex (row, center, center);
    p {
        padding: 0 1em;
    }
}