header {
    width: 100%;
    text-align: center;
    @include sticky (0);
    background-color: $backgroundSecundario;
    z-index: 10;
    nav {
        @include flex (row, space-between, flex-end)
    }
}
#menu {
    @include flex (row, none, center);
    list-style-type: none;
    li:hover {
        transform: scale(1.2, 1.2);
    }
    a {
        color: #337386;
    }
}
a {
    text-decoration: none;
}