#paginaIndex {
    background-image: url("../assets/img/43F5AE91-DF97-47EA-86D6-CF9F307F2895.jpg");
    background-repeat: no-repeat;
    overflow: visible;
    background-size: cover;
}
#index {
    color: white;
    text-align: center;
}