.paginas {
    background-color: black;
}
.tituloPaginas {
    text-align: center;
    color: white;
}
#about {
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    overflow: hidden;
}
#bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.parrafo {
    background-color: white;
    color: #121212;
}
#trans {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
#aboutCloser {
    text-align: center;
}