@media screen and (max-width: 767px){
    #paginaIndex {
        background-image: url(../assets/img/index-mobile.jpg);
        margin: 0.5em;
        height: 915px;
    }
    #logo {
        width: 50px;
    }
    #menu {
        padding: 0;
        font-size: 15px;
        li {
            padding-inline: 0.5em;
        }
    }
    #index {
        h1 {
        font-size: 200%;
        padding-top: 18em;
        }
        h2 {
        font-size: 100%;
        padding-bottom: 3em;
        }
    }
    #rrss svg {
        margin: 1.5em 0;
    }
    #copyright {
        font-size: 0.5em;
    }
    .paginas {
        margin: 0.5em;
    }
    #about {
        background-image: url(../assets/img/about-mobile.jpg);
        h2 {
            @include parrafo (1.5em, 1.5em);
            padding: 0 1.5em 8em 1.5em;
        }
        h3 {
            @include parrafo (1em, 1em);
            padding: 0 1.5em;
        }
    }
    .parrafo {
        flex-direction: column;
        width: 95%;
        margin: 2em auto;
        @include parrafo (1em, 1.5em);
        p {
            width: 95%;
        }
        img {
            width: 100%;
        }
    }
    #trans {
        img {
        order: 1;
        }
    }
    #aboutCloser {
        width: 85%;
        padding: 0.2em;
    }
    .galeria {
        @include grid (100%, none);
        img {
            width: 100%;
            grid-column: 1/2;
        }
    }
    .proyectos {
        padding-bottom: 1em;
        width: 100%;
    }
    .proyectos-grid {
        @include grid (100%, auto);
        img {
            width: 100%;
        }
    }
    .publicidad1 {
        margin: 2em 0;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #elReino {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #sprite {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #spriteVideo {
        width: 320px;
        margin: 1em;
        grid-column: 1/2;
        grid-row: 5/6;
        iframe {
            width: 115%;
        }
    }
    .publicidad2 {
        margin: 2em 0;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #carrusel {
        margin: 3em 0 0 1.3em;
        width: 450px;
    }
}