@media screen and (min-width: 320px) and (max-width: 767px){
    #paginaIndex {
        background-image: url(../assets/img/index-mobile.jpg);
        margin: 0.5em;
        height: 915px;
    }
    #logo {
        width: 50px;
    }
    #menu {
        padding: 0;
        font-size: 15px;
        li {
            padding-inline: 0.5em;
        }
    }
    #index {
        h1 {
        font-size: 200%;
        padding-top: 18em;
        }
        h2 {
        font-size: 100%;
        padding-bottom: 3em;
        }
    }
    #rrss svg {
        margin: 1.5em 0;
    }
    #copyright {
        font-size: 0.5em;
    }
    .paginas {
        margin: 0.5em;
    }
    #about {
        background-image: url(../assets/img/about-mobile.jpg);
        h2 {
            font-size: 1.5em;
            line-height: 1.5em;
            padding: 0 1.5em 8em 1.5em;
        }
        h3 {
        font-size: 1em;
        line-height: 1em;
        padding: 0 1.5em;
        }
    }
    .parrafo {
        flex-direction: column;
        width: 95%;
        margin: 2em auto;
        font-size: 1em;
        line-height: 1.5em;
        p {
            width: 95%;
        }
        img {
            width: 100%;
        }
    }
    #trans {
        img {
        order: 1;
        }
    }
    #aboutCloser {
        width: 85%;
        padding: 0.2em;
    }
    .galeria {
        grid-template-columns: 100%;
        img {
            width: 100%;
            grid-column: 1/2;
        }
    }
    .proyectos {
        padding-bottom: 1em;
        width: 100%;
    }
    .proyectos-grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        img {
            width: 100%;
        }
    }
    .publicidad1 {
        margin: 2em 0;
        @include grid (1/2, 2/3);
    }
    #elReino {
        @include grid (1/2, 1/2);
    }
    #sprite {
        @include grid (1/2, 3/4);
    }
    #spriteVideo {
        width: 320px;
        margin: 1em;
        @include grid (1/2, 5/6);
        iframe {
            width: 115%;
        }
    }
    .publicidad2 {
        margin: 2em 0;
        @include grid (1/2, 4/5);
    }
    #paginaContacto {
        background-image: url(../assets/img/contacto-mobile.jpg);
        height: 915px;
    }
    #email {
        margin: 4em 0;
    }
}