@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
.fuenteRegular {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.fuenteLight {
    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 100;
}